/* Write your CSS here */
.rcb {
  background-image: linear-gradient(to bottom, #d91c1f, #1e293b);
  min-height: 100vh;
}

.kxp {
  background-image: linear-gradient(to bottom, #a4261d, #1e293b);
  min-height: 100vh;
}

.kkr {
  background-image: linear-gradient(to bottom, #5755a7, #1e293b);
  min-height: 100vh;
}

.csk {
  background-image: linear-gradient(to bottom, #f7db00, #1e293b);
  min-height: 100vh;
}

.srh {
  background-image: linear-gradient(to bottom, #f26d22, #1e293b);
  min-height: 100vh;
}

.rr {
  background-image: linear-gradient(to bottom, #da237b, #1e293b);
  min-height: 100vh;
}

.mi {
  background-image: linear-gradient(to bottom, #13418b, #1e293b);
  min-height: 100vh;
}

.dc {
  background-image: linear-gradient(to bottom, #4f5db0, #1e293b);
  min-height: 100vh;
}

.team-banner {
  width: 100%;
  height: 350px;
  border-radius: 5px;
}

.latest-matches-label {
  margin-top: 25px;
  color: #ffffff;
  font-size: 20px;
  text-align: left;
}

.recent-matches {
  margin-top: 30px;
  padding-left: 0px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #ffffff;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .container {
    width: 85%;
  }

  .team-banner {
    height: 300px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  .team-banner {
    width: 250px;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .team-banner {
    height: 190px;
  }

  .latest-matches-label {
    font-size: 17px;
  }
}

@media (max-width: 300px) {
  .team-banner {
    height: 150px;
  }
}
